* {
  box-sizing: border-box;
}

  

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #beaa66;
  margin: 0%;
  border-width: 1px;
  border-style: solid;

}

.context {
  background-color: #6f8a9b;
  padding: 20px;
  text-align: center;
  font-size: 25px;
} 

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  background-image: url(images/layout.jpg);
  padding: 10px;
  font-size: 15px;
}

.menu {
    display: flex;
    gap: 20px;
}

.dropdown {
    position: relative;
}

/* Contenido oculto */
.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    min-width: 180px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    display: none;
    flex-direction: column;
}

/* Links internos */
.dropdown-content a {
    padding: 10px;
    text-decoration: none;
    color: black;
    display: block;
}

/* Mostrar al pasar el cursor */
.dropdown:hover .dropdown-content {
    display: flex;
}

/* Hover bonito */
.dropdown-content a:hover {
    background: #f0f0f0;
}

nav {
    display: flex;
    align-items: center; /* 🔑 clave */
    gap: 20px;
}

.niño_jesus {
    background-color: green;
}

.link {
  margin: 15px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.link:hover {
    outline: #000000 solid 2px;
    padding: 3px;
}

.lupin:hover {
    outline: #1a1b3f solid 3px;
}

.seccion {
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin: 15px;

}

.seccion:hover {
    outline: #000000 solid 2px;
    padding: 3px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
  background-color: #3b5b8c;
}

.column img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.column2 {
  float: left;
  width: 100%;
  padding: 10px;
  height: 150px;
  background-color: #3b5b8c;
}

.row {
  
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
}

@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}
