* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(images/fondo.png);
  background-size: cover;
  background-attachment: fixed;
  margin: 0%;
  border-width: 1px;
  border-style: solid;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  background-image: url(images/layout.jpg);
  padding: 1px;
  font-size: 15px;
  border-bottom: 10px solid #855b21;
}

.oracion {
  font-family: "noto sans", sans-serif;
  background-image: url(images/ai.jfif);
  background-size: cover;
  background-clip: text;
  color: transparent;
  font-size: 50px;
}

.menu {
    display: flex;
    gap: 5px;
}

.link {
  position: relative;
  padding: 10px 20px;
  border-radius: 40px;
  overflow: hidden;
  transition: color 0.6s;
  z-index: 1;
  cursor: pointer;
  margin: 3px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.viene {
  background-image: url(images/ChatGPT\ Image\ 16\ ene\ 2026\,\ 01_51_30.png);
  background-size: cover;
  align-content: center;
  text-align: center;
  padding: 20px;
}

.context {
  width: 100%;
  height: 650px;
  display: flex;
  flex-flow: row wrap;
  position: relative;
}

.ore {
  width: 350px;
  height: 400px;
  background-image: url(images/12.jfif);
  background-size: cover;
  background-position: center;
  background-clip: border-box;
  position: absolute;
  left: 60px;
  margin-top: 100px;
  box-shadow: #382f22 0px 3px 6px 0px, #382f22 1px 4px 10px 0px;
  z-index: 1;

}

.diario {
  width: 290px;
  height: 350px;
  background-color: antiquewhite;
  display: flex;
  margin: auto;
  margin-top: 25px;
  align-items: center;
  justify-content: center;
}

.book {
  width: 70%;
  height: 350px;
  background-size: cover;
  background-position: center;
  position: absolute;
  mask-image: radial-gradient(closest-side, black 40%, transparent 100%);
  -webkit-mask-image: radial-gradient(closest-side, black 40%, transparent 100%);
  left: 350px;
  bottom: 150px;
}

.footer {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
}



.niño_jesus {
    background-color: green;
}

@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}
